@media(min-width: 1184px) {
    .container {
        padding: 0
    }

}


@media (max-width: 1184px) {

    /* mini menu */
    .menu {
        max-width: 100%;
    }

    .menu ul {
        flex-wrap: wrap;

    }

    .menu li {
        padding: 10px 20px;
        min-width: 16%;
        line-height: 18px;
    }

    .menu li {
        margin-right: 10px;
        margin-bottom: 10px
    }

    .menu .hide-on-fs {
        display: inherit;
    }


/* photos */

.photos {
    height: 375px
}
}

@media(max-width: 1024px) {
    header span {
        display: none;
    }

    /* photos */

    .photos {
        height: 275px
    }

    /* Osaka description text and map section*/
    .city-desc {
        display: flex;
        flex-direction: column;
        height: inherit
    }

    .city-desc .col-1 {
        padding-right: 10px;
        margin-bottom: 25px;
        height: inherit;
    }

    /* Explore Osaka block */

    .carousel .block {
        /* flex-shrink: 0; */
        height: inherit;
        width: calc(50% - 10px);

    }

    .slideshow .ss-container .description {
        width: 40%;
    }

    /* louez section */
    .louez-block {
        width: calc(40% - 10px);

    }



}

@media(max-width: 768px) {

    /* GLOBAL RULES */
    h1 {
        font-size: 32px;
        line-height: 32px;
    }

    p {
        font-size: 16px;
        line-height: 21px;
        color: #333333;
    }

    h3 {
        font-size: 28px;
        line-height: 33px;
    }

    /* header */
    header nav {
        display: none
    }

    header {
        height: 40px
    }

    .short-menu i {
        display: inherit;
    }

    .short-menu {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

    }

    .sm-item {
        width: 33.3%;
        display: flex;
        justify-content: center;
    }

    .sm-item:first-child {
        justify-content: flex-start;
        padding-left: 10px
    }

    .sm-item:last-child {
        justify-content: flex-end;
        padding-right: 10px
    }

    .logo img,
    footer img {
        width: 133px;
    }

    .menu ul {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    .menu li {
        padding: 5px 20px;
        min-width: 20%;
        line-height: 18px;
    }

    .menu .hide-on-fs {
        display: inherit;
    }


    /* photos */

    .photos {
        display: inherit;
    }

    .photos .col-2 {
        display: none;

    }

    /* Mini menu */
    .mini-menu {
        display: none
    }

    .city-desc .col-2 {

        max-width: 100%;
        padding-bottom: 20px;

    }

    .city-desc button {
        padding: 10px;
        font-size: 18px;
        margin-bottom: 20px;
    }

    .city-desc .col-2 img {
        display: none;
    }


    /* Explore Osaka block */
    .slideshow .ss-container {

        flex-direction: column;

    }

    .slideshow .ss-container .description {
        width: inherit;
        padding-bottom: 25px;
    }

    .carousel .block {

        height: 360px;
        width: calc(50% - 10px);

    }

    .louez-block {

        width: calc(50% - 10px);

    }

}

@media(max-width: 600px) {
    .carousel .block {

        width: calc(100% - 10px);

    }

    .louez-block {

        width: calc(100% - 10px);

    }

    .menu {
        display: none
    }

    .submen {
        display: inherit;
        padding-bottom: 10px;
    }

    footer {
        height: 100px;
        flex-direction: column;

    }

    footer p {
        text-align: center;
        margin-left: inherit;
        padding-top: 10px;
    }

}